/***************************/
/* ESTILIZAÇÃO DA HOMEPAGE */
/***************************/

/*********/
/* GERAL */
/*********/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'PT Sans';
    letter-spacing: .5px;
}

html, body{height: 100vh; width: 100%;}

img {height: 100%;}

label {padding-top: 8px;}

/*****************************/
/* HEADER/NAVBAR DA HOMEPAGE */
/*****************************/
.container-header {width: 100%; height: 15%;}
nav.navbar.navbar-expand-lg.navbar-light {margin: 0 10%;justify-content: space-between;}

/* Items de navegação */
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: #231F20;
    border-bottom: 2px solid #ED2B2A;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px 50px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
}

a.nav-link:hover {background-color: #ED2B2A; color: #fff!important;}

/* Toogler do menu após "collapse" */
button.navbar-toggler {background-color: #ED2B2A;}

/* Menu após "collapse" */
.navbar-collapse.collapse.show {z-index: 10000000; text-align: center; margin-top: 5px;}

/* Logótipo */
.header img {height: 70px;}

/* Contacto */
.contact img {height: 30px;}
.phone {display: flex; align-items: center; justify-content: flex-end;}
#phoneIcon {align-self: center; min-width: 25px; min-height: 70%; margin: 0 5px 10px 0;}
#phone-number {font-size: 17px; font-weight: bold;}

/* MÓDULO DE LOGIN */
.modal-header {background-color: #ED2B2A; color: #fff; font-weight: bold;}
.modal-title {text-transform: uppercase;}
.modal-body {margin-top: 15px;}
input.form-control.input-email {margin-left: 10px; width: 90%;}
input.form-control.input-password {margin: 8px 0 0 13px; width: 90%;}
.close {color: #e9e9e9; transition-duration: 0.5s; transition-timing-function: linear;}
.close:hover {color: #fff;}

.modal-footer .btn {
    background-color: #ED2B2A;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.modal-footer .btn:hover {background-color: darkred;}

/* Ícones do módulo de login */
.fa-user-alt, .fa-unlock {font-size: 25px; color: #111;}

/********************/
/* CENTRO DA PÁGINA */
/********************/

/* Formulário de pesquisa */

/* Ícones do formulário de pesquisa */
img#lupaIcon {align-self: center; margin-right: 10px; height: 25px; width: 25px;}
img#locationIcon {align-self: center; margin-right: 10px; height: 25px; width: 25px;}
#icon {align-self: center;}

/* Toogler do formulário de pesquisa */
.btn_toogler {
    margin: 175px 5px;
    float: left;
    padding: 0;
    font-size: 35px;
    color: #ED2B2A;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn_toogler:hover{
    color: rgb(194, 35, 35);
}

/* Formulário de pesquisa */
.formTitle {
    width: 80%;
    display: flex;
    align-self: center;
    text-align: center;
}

.formTitle2 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-self: center;
    margin-bottom: -5px;
}

.formTitleSecondary {
    margin: 12px 39px 0 0;
    width: 80%;
    display: flex;
    align-self: center;
    text-transform: uppercase;
}

.formTitle > p, .formTitleSecondary > p {color: #fff; font-size: 18px; margin-bottom: 6px;}

.searchForm {display: flex; align-self: center; width: 80%; height: 70%;}
#searchForm {display: flex; flex-direction: column; justify-content: center; width: 100%;}

.formulario-registo {
    display: flex;
    align-self: center;
    width: 80%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
}

option {
    display: flex;
    width: 20px;
    height: 50%;
}

.pesquisa {
  height: 10%;
  background-color: #282828;
  display: flex;
  align-items: baseline;
}

.pesquisa * {
  margin-top: 5%;
  height: 70%;
  border-radius: 25px;
}

.pesquisa form {
  margin-left: 20%;
}

.pesquisa input[type="submit"]{
  background-color: grey;
  color: white;
  font-weight: bold;
}



#index, #ilha, #concelho, #freguesia {
    margin-top: 8px;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 8%;
}

/* Mapa */
.map {height: 70%; width: 96%; display: flex;}
.map_extended {width: 75%;}

/* Container do formulário de pesquisa */
.container_form {
    height: 70%;
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282828;
}

.container_form_escondido {
    width: 296px;
    transition: all 500ms ease;
 }

button#encontrar {
    align-self: center;
    border-radius: 3px;
    margin-top: 5%;
    background-color: #DC2D27;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 10%;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

button#registar {
    align-self: center;
    margin-top: 5%;
    border-radius: 3px;
    background-color: #DC2D27;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

button#encontrar:hover {
    background-color: #fff;
    color: #DC2D27;
}


.checkbox{
  color: white;
}

.container_admin{
      margin: 0 10%;
}

/**********/
/* FOOTER */
/**********/
footer {position: fixed; width: 100%;}
.footer {display: flex; width: 80%;}

/* Logótipo do footer */
img#icon {height: 70px;}
.footer img#icon {margin-top: 10px;}

/* Container do footer */
.container_footer {
    background-color: #DC2D27;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Símbolo de copyright do footer */
.copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    color:white;
}

.copyright-simbol {margin-right: 5px; font-size: 25px; font-weight: 500;}

/*****************/
/* MEDIA QUERIES */
/*****************/

 @media only screen and (max-width: 1000px) {

    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        background-color: #ED2B2A;
        border-bottom: 2px solid #fff;
    }

    .phone {display: none;}

}
