/*********************************************/
/* ESTILIZAÇÃO DA PÁGINA DE PERFIL DO IMÓVEL */
/*********************************************/

/* Container do imóvel */ 
#container_imovel {
  background: #7f8c8d;
  color: #fff;
}

/* Título do perfil do imóvel */
#container_imovel h2 {
  padding: 30px;
  font-size: 2.1rem;
}

/* Imagem do perfil do imóvel */
#container_imovel .imovel_image {
  max-width: 100%;
  height: auto;
}

/* Especificações do imóvel */

#sub_container {
  padding: 70px;
}

#sub_container h3 {
  padding: 10px 0;
  font-size: 1.9rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#sub_container p {
  padding: 20px;
  font-size: 1.3rem;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

/* Títulos secundários do perfil do imóvel */ 
#sub_container h5 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.location {
  margin: 30px 15%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.info_second {
  margin: 30px 5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#info_group p {
  font-size: 1.3rem;
  padding: 0;
  border: 0;
}

/* Ícones */
i {margin-right: 10px;}

/* Container das opções secundárias */
.left_info_container {
  margin-top: 50px;
}

.left_info_container img {
  height: 2em;
  margin-right: 10px;
}

div.info-piscina {
  display: flex;
  flex-direction: row;
}

/* Mapa */
.map {height: 500px;}