/* HEADER DA PÁGINA DE REGISTO */ 

/* Título da página de registo */
.navItems h3 {
  font-size: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* FORMULÁRIO DE REGISTO */
#formulario-registo {
  background-color: #B9BBBD;
  color: black;
}