/****************************************/
/* ESTILIZAÇÃO DA FORMULÁRIO DE REGISTO */
/****************************************/

/* HEADER/NAVBAR DO FORMULÁRIO DE PESQUISA */

.header-registo h3 {
    font-size: 25px;
    color: #231F20;
    border-bottom: 2px solid #ED2B2A;
    margin: 0 20px;
    padding: 5px 50px;
    text-transform: uppercase;
}


/* Formulário de registo */
.register-wrapper {
    background-image: url(../images/register-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.super_container_form {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/houseRegister.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#pass-form, #top-form ,#contact-form  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 6%;
}

#location-form {
    margin: 20px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.register-wrapper label {
    color: #fff;
    margin: 16px 0;
    font-size: 1.5rem;
}

.register-wrapper input {margin-top: -10px;}

.register-wrapper form .btn-user {
    margin: auto;
    display: grid;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    background: #ED2B2A;
    color: #fff;
    text-transform: uppercase;
    transition: background 300ms ease-in-out;
}

.register-wrapper form .btn-user:hover {
    background: rgb(172, 0, 0);
    cursor: pointer;
}
