body {
  margin: 20px;
  padding: 0;
  background: #333;
}

/* Slider do perfil do imóvel */

.container-slider {
  max-width: 760px;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: #fff;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
