/* Geral */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --colorPrimary : #002259;
  --colorPrimaryDark : #001230;
  --colorBackgrounds : #f4f4f4;
  --colorAccent: #034400;
  --colorAccentDark: #000000;
  --colorText: #ffffff;
  --colorButtons: #231801;
}

body {
  background-color: #35478C;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* Navbar */

.nav_box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 170px;
  background-color: var(--colorPrimary);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.logo_box {
  padding:10px;
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_box > a > img {
  width: 100%;
}

/* Pesquisa detalhada */

.search_box {
  padding: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  min-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.caixa_pesquisa {
  font-size: 15px;
  border: 1px solid #fff;
  font-weight: bold;
  margin-right: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.botao_pesquisa {
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #B2613D;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.botao_pesquisa:hover {
  background-color: #cf744c;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}

.search_input input {
  outline: none;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 100%;
  padding-left: 10px;
  height: 30px;
}

.search_filter {
  align-self: flex-start;
  margin-top: 60px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search_filter > img {
  background-color: #0c429a;
  border-radius: 2px;
  width: 30px;
  min-height: 30px;
  padding: 6px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search_filter>img:hover {
  background-color: #00398e;
  transition-duration: 0.4s;
  cursor: pointer;
}

#icon_filter1 {
  display: none;
}

#icon_filter1:hover {
  cursor: pointer;
  background-color: #008E03;
  transition-duration: 0.4s;
}

@keyframes down_filter {
  from {
    padding: "6px 6px 6px 6px";
    background-color: var(--colorAccent);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  to {
    padding: "6px 6px 20px 6px"
    background-color: #001230;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.search_filters_box {
  position: fixed;
  top: 170px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: rgb(0, 18, 48);
  background-color: rgba(0, 18, 48,0.8);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: down_filter_box;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 0.4s;
}

@keyframes down_filter_box {
  from {height: 0px;}
  to {height: 337px;}
}

.search_filters {
  width: 60%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.selection {
  border-radius: 6px;
  margin: 10px;
  width: 30%;
  min-width: 300px;
  height: 36px;
  opacity: 0;
  animation-name: show_filters;
  animation-fill-mode:forwards;
  animation-delay: 0.7s;
  animation-duration: 1s;
}

@keyframes show_filters {
  from {opacity: 0;}
  to {opacity: 1;}
}

#btn_filter {
  width: 200px;
  height: 45px;
  border:none;
  outline: none;
  background-color: #008E03;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-name: show_filters;
  animation-fill-mode:forwards;
  animation-delay: 0.7s;
  animation-duration: 1s;
  }

  @keyframes show_filters {
  from {opacity: 0;}
  to {opacity: 1;}
  }

#btn_filter>img {
  width: 12%;
  margin-right: 5px;
}

.user_box {
  padding: 20px;
  width: 200px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.user_status {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: #008E03;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.user_status:hover {
  cursor: pointer;
  background-color: #CF744C;
}

.nav_holder {
  height: 170px;
}

.presentation {
  display: center;
  width: 100%;
  height: 450px;
}

.slidePresentation {
  display:none;
  width: 70%;
  margin-left: 15%;
}

.presentation > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.titulo_destaque {
  margin-top: 30px;
  font-size: 35px;
  color: #fff;
}

.featured_box {
  background-color: #85A5CC;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 12px;
}

div.featured {
  background-color: #85A5CC;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 40px;
}

.thumbnail {
  border: 3px solid #D0E4F2;
  color: #fff;
  font-size: 20px;
  padding: 6px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail:hover {
  opacity: 1;
  width: 560px;
  transform: scale(3);
  animation-name: thumb_hover;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes thumb_hover {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.97);
    opacity: 0.8;
  }
}

.thumb_img {
  width: 314px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumb_img > img {
  display: flex;
  display: inline-flex;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.thumbnail_info {
  width: 225px;
  padding: 10px;
}

.info_imovel:hover {
  text-decoration: none;
}

/* Login e Registo */

.login_registo {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index:1;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #d4d4d4;
  margin:10% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  background: #002259;
  padding: 15px;
  color: #fff;
}

.modal_footer {
  background: #002259;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.modal_header h2 {
  margin-left: 36.1%;
}


.modal_footer > h3 > a{
  text-decoration:none;
}

.closeBtn {

  font-size: 30px;
  color: #fff;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.closeBtn:hover, .closeBtn:focus{
  color: #a4a8a8;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

.login {
  display: flex;
  flex-direction: column;
}

.login > input {

  align-self: center;
  font-size: 20px;
}

.login > input[type=email], .login > input[type=password] {
  margin-top: 50px;
  height: 40px;
  width: 60%;
  outline: none;
}

.login > input[type=email]:focus, .login > input[type=password]:focus {
  border: 1px solid #9c9a9a;
}

.login > input[type=submit]{
  margin: 20px 0 20px 0;
  border: none;
  background-color: #002259;
  color: white;
  padding: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login > input[type=submit]:hover {
  background-color: #4E7AC7;
}

.opcao_registo {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.opcao_registo:hover {
  color: #4E7AC7;
}

/* Introdução */

div.jumbotron {
  background: #00335B;
  height: 355px;
  margin-top: 150px;
}

.container_intro {
  margin: 50px 0 0 50px;
}

.titulo_e_slogan {
  color: #fff;
}

.slogan {
  font-size: 30px;
}

/* Perfil do imóvel */

.titulo {
  color: #fff;
  background-color: #002259;
  height: 150px;
  margin: 20px 0 0 25%;
  width: 700px;
  line-height: 80px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.imovel-container {
  position: relative;
  margin: 20px 0 0 14%;
  width: 1000px;
  height: 500px;
}

.img-imovel {
  width: 1000px;
  height: 500px;
}

.cartao {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.cartao:hover {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #333;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #002259;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  transform: rotateY(180deg);
}

/* Ícones */

.fa {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

div.back {
  font-size: 100px;
}

.fa-camera  {
  color: silver;
  margin-left: 60px;
}

.fa-camera:hover {
  color: white;
}

.fa-facebook-official {
  color: rgb(40, 83, 235);
  margin-left: 24%;
}

.fa-facebook-official:hover {
  color: 	#3b5998;
}

.fa-instagram {
  color: rgb(255, 218, 84);
  margin-left: 40%;
}

.fa-instagram:hover {
  color: #e95950;
}

.fa-twitter-square {
  color: rgb(87, 157, 191);
  margin-left: 58%;
}

.fa-twitter-square:hover {
  color: #55acee;
}

.fa-google-plus-official {
  color: #ecf0f1;
  margin-left: 75%;
}

.fa-google-plus-official:hover {
  color: #dd4b39;
}
/* Informações acerca do imóvel */

.descricao {
  font-size: 20px;
  text-align: justify;
  padding: 1px 1px;
  color: #fff;
  margin: 50px 20px 0 20px;
  background-color: #002259;
}

.info-detalhes {
  margin: 30px 20px 0 20px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  background-color: #002259;
}

.info {
  line-height: 1.9;
}

/* Formulário da visita */

.visita {
  margin: 30px 20px 0 20px;
  background-color: #002259;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* Fim do formulário da visita */


/* Slider da galeria */

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #002259;
  margin: 20px;
}

#galeria_container {
  height: 450px;
  width: 800px;
  margin: 20px auto;
  position: relative;
}

#galeria_slider {
  height: 450px;
  width: 800px;
  position: absolute;
}

#left-holder, #right-holder {
  height: 450px;
  width: 100px;
}

#left-holder {
  position: absolute;
  left: 0px;
  top: 0px;
}

#right-holder {
  position: absolute;
  right: 0px;
  top: 0px;
}

.left {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40%;
  left: 0px;
}

.right {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40%;
  right: 0px;
}


/* Administração*/


.admin_container  {
  margin: 10px;
  width: 98%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backend_admin {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.add_property {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  background-color: white;
}
.add_prop_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4px;
}
.add_property>.add_prop_box>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 12%;
  height: 40px;
  font-size: 1em;
}
.add_property>.add_prop_box>select {
    border-radius: 4px;
  width: 80%;
  height: 40px;
}
.add_property>.add_prop_box>input {
  border-radius: 4px;
  width: 80%;
  height: 40px;
}
.add_property>.add_prop_box>textarea {
    border-radius: 4px;
  width: 80%;
  height: 40px;
}
.add_property>.add_prop_box>input[type=checkbox]  {
  width: 80%;
    border-radius: 4px;
}
.add_property>.add_prop_box>input[type=submit]  {
    border-radius: 4px;
  width: 10%;
  height: 40px;
}
.add_property>.add_prop_box>input[type=file]  {
  border-radius: 4px;
  width: 78%;
  height: 40px;
}
.add_property >.add_prop_box> img  {
    border-radius: 4px;
  width: 2%;
}
.add_manager {
  display: flex;
  flex-direction: column;
}
label img {
    width: 20px;
}
.featured_properties {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured_properties > a {
  width: 90%;
  margin: 10px;
}

#notifications {
  width: 800px;
  position: absolute;
  top: -57px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 3;
}

#num_notifications {
  border: 0;
  outline: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--colorPrimary);
  color: white;
}

#num_notifications1 {
  border: 0;
  outline: none;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--colorPrimaryDark);
  color: white;
}

#notifications_box {
  display:none;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:flex-start;
  width: 100%;
  margin-top: 2px;
  padding: 6px;
  background-color: darkgrey;
  color: white;
}

#notifications_box > .notification > a {
width: 80%;
}

.notification {
  margin: 2px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  width: 100%;
}


#feature_aprovation {
width: 20%;
display: flex;
flex-direction: row;
}
#feature_aprovation > .aprove_feature {
  border: 0;
  outline: none;
  background-color: green;
  width: 50%;
}

#feature_aprovation > .disaprove_feature {
  border: 0;
  outline: none;
    background-color: red;
  width: 50%;
}



.thumbnail_notification {
  width: 100%;
  height: 150px;
  display: flex;
  color: black;
}

.thumb_img_notification {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.thumb_img_notification > img {
  width: 60%;
  object-fit:cover;
}

.thumbnail_info_notification {
  width: 60%;
  background-color: white;
  padding: 10px;
}
.management {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}
.management1 {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}
.management1  a {
  color: black;
}
.manage_property {
  width: 49%;
  position: relative;

}
.management > .manage_property > a {
  color: black;
}
.buttons_management {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self:center;
}

.buttons_management button {
  border-radius: 4px;
  color: grey;
  border: 0;
  outline: none;
  width: 140px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  border: 1.5px solid grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons_management button:hover {
background-color: var(--colorAccent);
color: white;
}

.thumbnail_management {
  border-bottom: 1.6px solid #5e5e5e;
  background-color: white;
  width: 49%;
  display: flex;
  flex-direction:row;
  margin: 2px;
}

.thumb_img_management {
  width: 35%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #777777;
}

.thumb_img_management > img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.thumbnail_info_management {
  width: 45%;
  padding: 10px;
}

/* Style the tab */
div.tab {
  border-bottom: 2px solid var(--colorPrimaryDark);
  width: 100%;
  overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    background-color: #003387;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #B62121;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #001230;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
    display: none;
    position: relative;
}

.backend_container {
  width: 100%;
}

.log_in_backend {
  margin: auto;
  padding: 10px;
  color: white;
  background-color: #00335B;
  width: 100%;
  height: 579px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.log_in_backend input[type=submit] {
  color: white;
  border: 0;
  background-color: #002259;
  margin-left: 150px;
  padding: 10px;
}

.log_in_backend label {
  width: 100%;
  margin: 10px;
}

/*listagem*/

.titulo_resultado{

  margin-top: 20px;
  font-size: 50px;
  color: #006bb3;

}

.imovel{
  margin: 25px 0 0 0;
  border-top: 5px outset #002259;
  display: flex;
  flex-direction: row;
}

.break{
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350,from(#000), to(#fff));
  max-width: 500px;
  z-index: -1;
}

.imovel_info{

  align-self: center;

}
.imovel_info > p{
  margin: 10px 0 10px 20px;
}

.imovel_info > a > button{
  margin: 10px 0 10px 20px;
  background: #002259;
  color: white;
  border: none;
  padding: 10px;
}

@media only screen and (max-width: 480px){

  .imovel{

    flex-direction: column;


  }

  .thumb_img{

    align-self: center;

  }

  .imovel_info{

    align-self:flex-start;

  }

}

/*Registar*/
  .featured_box1 {
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .featured_box1 > h1 {
      padding-left:6px;
      font-size: 1.6em;
      color: var(--colorAccentDark);
    }

  .registar{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid var(--colorAccent);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-left: 40px;
  }

  fieldset {
    width: 100%;
    border:0;
    margin: 20px;
  }

  .registar > form {
    min-width: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .registar > form > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .registar input {
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 1em;
    width: 100%;
    height: 36px;
  }
  .nome {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nome div {
    width: 48%;
  }
  .nome input {
    width: 100%;
  }

  .mail {
    width: 100%;
  }

  .local {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .password {
    width: 100%;
  }

  .contato {
    width: 100%;
  }

  .nome p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .mail p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .password p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .contato p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .local p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .mail, .numero{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .registar > form > div > div {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

fieldset input[type=submit]{
  align-self: center;
  width: 100%;
  background-color: var(--colorAccent);
  color: var(--colorText);
  border: 0;
  outline: none;
}


/* Visitas Gestão*/


.visits_noti {
  border-radius: 4px;
  color: grey;
  border: 0;
  outline: none;
  width: 140px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  border: 1.5px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.visits_noti1 {
  border-radius: 4px;
  color: grey;
  border: 0;
  outline: none;
  width: 140px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  border: 1.5px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  justify-content: center;
}

.notifications_box1 {
  z-index: 4;
  display:none;
  flex-direction: column;
  position: absolute;
  background-color: grey;
  width: 280%;
  padding: 6px;
  color: white;
  bottom: 6px;
  right: 145px;
}

.notification1 {
  margin: 2px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  position: relative;
}

.notification1>p {
  width: 85%;
  position:absolute;
  left: 0;
}

#visit_aprovation {
width: 15%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position:absolute;
right: 0;
}

#visit_aprovation > .aprove_visit {
    border-radius: 0;
  border: 0;
  outline: none;
  background-color: green;
  width: 50%;
  height: 100%;
}

#visit_aprovation > .disaprove_visit {
  border-radius: 0;
  border: 0;
  outline: none;
  background-color: red;
  width: 50%;
  height: 100%;
}
.log_in_backend input[type=submit] {
  color: white;
  border: 0;
  background-color: #002259;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: 10px;
  padding: 10px;
  font-size: 20px;
}

.log_in_backend input[type=submit]:hover {
  background-color: #4E7AC7;
  cursor: pointer;
}

.titulo_geral {
  margin-top: 30px;
  font-size: 35px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.log_in_backend label {
  width: 90%;
  margin-left: 850px;
  margin-bottom: 10px;
  font-size: 25px;
}




/*listagem*/

.titulo_resultado{

  margin-top: 20px;
  font-size: 50px;
  color: #006bb3;

}


.imovel{
  margin: 25px 0 0 0;
  border-top: 5px outset red;
  display: flex;
  flex-direction: row;
}
.break{
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350,from(#000), to(#fff));
  max-width: 500px;
  z-index: -1;
}

.imovel_info{

  align-self: center;

}
.imovel_info > p{
  margin: 10px 0 10px 20px;
}

.imovel_info > a > button{
  margin: 10px 0 10px 20px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
}

@media only screen and (max-width: 480px){

  .imovel{

    flex-direction: column;


  }

  .thumb_img{

    align-self: center;

  }

  .imovel_info{

    align-self:flex-start;

  }

}

.featured_box1 {
  align-self: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 12px;
  margin-left: -50px;
  margin-bottom: 12px;
}

.featured_box1 > h1 {
    padding-left:6px;
    font-size: 1.6em;
    color: var(--colorAccentDark);
  }

.registar{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 2px solid var(--colorAccent);
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-left: 40px;
}

fieldset {
  width: 100%;
  border:0;
  margin: 20px;
}

.registar > form {
  min-width: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.registar > form > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.registar input {
  outline: none;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 1em;
  width: 100%;
  height: 36px;
}
.nome {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nome div {
  width: 48%;
}
.nome input {
  width: 100%;
}

.mail {
  width: 100%;
}

.local {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.password {
  width: 100%;
}

.contato {
  width: 100%;
}

.nome p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.mail p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.password p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.contato p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.local p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.mail, .numero{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.registar > form > div > div {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset input[type=submit]{
  align-self: center;
  width: 30%;
  background-color: var(--colorAccent);
  color: var(--colorText);
  border: 0;
  outline: none;
}

.titulo_login_backend {
  margin-left: 40px;
}

.img_pesquisa_m {
  margin-top: 4px;
  height: 230px;
  width: 210px;
}


/* Footer */

.footer {
    margin-top: -20px;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: #002259;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.texto_footer {
  font-size: 20px;
  margin-top: 20px;
}

.separador {
  margin-top: 1px;
  margin-left: 41.8%;
  max-width: 200px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.media_icons {
  display: flex;
  justify-content: center;
  margin-left: 4px;
}

.fa-twitter-square, .fa-instagram, .fa-phone-square, .fa-envelope-square {
  color: #fff;
  margin-left: 8px;
}

.fa-instagram, .fa-twitter-square, .fa-facebook, .fa-envelope-square, .fa-camera  {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-phone-square {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.fa-phone-square:hover {
  color: #45f03c;
}

.fa-envelope-square:hover {
  color: #a1a1a1;
}

.footer_ac {
  margin-top: 25px;
}

.footer_pi {
  margin-top: 100px;
}
